/*Colorize-------------------*/
$color-mid-dark: #888;
$color-dark: #212121;
$color-deep-dark: #111;
$color-light: #fff;
$color-yellow: #ffb20b;
$color-mid-light: #f5f5f5;
$color-light-blue: #7F00FF;
$color-dark-blue: #000080;
$color-blue: #107fc9;
$color-blue-navy: #4c516d;
$color-green-blue: #008081;;
$color-purple: #7719aa;
$color-dark-purple: #460770;
$color-light-grey: #dedede;
$color-grey: #9F9F9F;
$color-orange: #d83b01;
$color-brown: #92440c;
$color-soundcloud: #f83600;
$color-tosqa: #43BAB7;
$color-blood: #eb0000;
$color-green: #107c10;
$color-light-green: #58cc35;
$color-mid-green: #107c10;

$color-ayooklik: #E91D1D;
$color-ayootrack: #FFDA00;
$color-ayooservice: #18B54C;

$txt-dark: $color-dark;
$txt-light: $color-light;
$txt-darkgrey: #777;

/*--------------------------*/


// Font
$font1: 'Open Sans', sans-serif;
$font2: 'Quicksand', sans-serif;

// Offset
$offset: 20;

// Horizontal-align
$align: left center right;

// vertical-align
$vertical-align: top middle bottom;

// float
$float: left right;

// position
$position: top right bottom left;

// type Position
$type-pos: fixed absolute relative static;
