*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  overflow: hidden;
  position: relative;
  .main-wrapper {
    // width: calc(100% + 17px);
    width: 100%;
    height: 100%;
    // padding-right: 18px;
    // position: absolute;
    // left: 0;
    // top: 0;
    // overflow: scroll;
    // transition: left .3s ease-in-out;
    
  }
}

body {
  box-sizing: border-box;
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: $color-mid-light;
  padding-bottom: 50px;
  .main-wrapper {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    main {
      transition: all .3s ease-in-out;
      left: 0;
      &.slideRight {
        transition: left .3s ease-in-out;
        left: 320px;
      }
    }
  }
}