h1, h2, h3, h4, h5, h6 {
  font-family: $font2;
  font-weight: 500;
  color: $color-dark;
}

@for $i from 1 through $offset - 14 {
  h#{1 * $i} {
    font-size: #{56 - (8 * ($i - 1))}px;
  }
}

h3 {
  margin-bottom: 5px;
  &.white {
    color: $color-light;
  }
}

p, a {
  font-family: $font1;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: .05px;
  color: $txt-darkgrey;
}

p {
  margin-bottom: 20px;
  &.small {
    color: $txt-darkgrey;
    font-size: 14px;
  }
}