.fd-sosmed-panel {
  margin-top: 20px;
  strong {
    font-family: $font1;
    color: $color-mid-dark;
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
  }
  ul {
    li {
      display: inline-block;
      a {
        font-size: 17px;
        &:hover {
          color: $color-tosqa;
        }
      }
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}