.fd-step {
  @include clearit;
  li {
    position: relative;
    height: 35px;
    float: left;
    a {
      display: inline-block;
      text-decoration: none;
      line-height: 35px;
      padding: 0 25px;
      background-color: #f0f0f0;
    }
    &.currentStep {
      a {
        position: relative;
        color: #fff;
        background-color: $color-tosqa;
        z-index: 2;
      }
      &:after {
        position: absolute;
        content: '';
        top: 5.5px;
        right: -12px;
        width: 24px;
        height: 24px;
        transform: rotate(45deg);
        background-color: $color-tosqa;
        z-index: 1;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
    &:first-child {
      a {
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
      }
    }
    &:last-child {
      a {
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
      }
    }
  }
  @include shortBreakpointMax(480) {
    li {
      height: 15px;
      a {
        font-size: 14px;
      }
    }
  }
}