.fd-box-panel {
  padding: 35px 50px;
  width: 540px;
  max-width: 550px;
  text-align: center;
	margin: 30px auto 0;
	border-radius: 	5px;
  background-color: #fff;

  box-shadow: 0 25px 35px -25px rgba(0,0,0,.3);
  img {
    display: block;
    margin: 0 auto 10px;
    width: 100px;
    height: auto;
    &.png {
      width: 200px;
    }
  }
  h5 {
    margin-bottom: 10px;
    text-align: center;
    line-height: 1.3;
  }
  p {
    text-align: left;
  }
  a.btn {
    border-radius: 100px;
  }
  @include shortBreakpointMax(768) {
    padding: 25px 30px;
    width: 100%;
    max-width: auto;
  }
}