.fd-checkbox-custom {
	.toggleButton {
		cursor: pointer;
		display: block;
		transform-origin: 50% 50%;
		transform-style: preserve-3d;
		transition: transform .14s ease;
		&:active {
			transform: rotateX(30deg);
		}
		input {
			display: none;
			& + div {
				// border: 3px solid rgba($color-green, .2);
				border: 3px solid rgba($color-grey, .2);
				border-radius: 50%;
				position: relative;
				width: 27px;
				height: 27px;
				svg {
					fill: none;
					stroke-width: 3.6;
					stroke: lighten($color-grey, 30%);
					stroke-linecap: round;
					stroke-linejoin: round;
					width: 27px;
					height: 27px;
					display: block;
					position: absolute;
					left: -3px;
					top: -3px;
					right: -3px;
					bottom: -3px;
					z-index: 1;
					stroke-dashoffset: 162.6 - 38;
					stroke-dasharray: 0 162.6 133 (162.6 - 133);
					transition: all .4s ease 0s;
				}
				&:before,
				&:after {
					content: '';
					width: 3px;
					height: 11px;
					background: $color-blood;
					position: absolute;
					left: 50%;
					top: 50%;
					border-radius: 5px;
				}
				&:before {
					opacity: 0;
					transform: scale(.3) translate(-50%, -50%) rotate(45deg);
					animation: bounceInBefore .3s linear forwards .3s;
				}
				&:after {
					opacity: 0;
					transform: scale(.3) translate(-50%, -50%) rotate(-45deg);
					animation: bounceInAfter .3s linear forwards .3s;
				}
			}
			&:checked + div {
				svg {
					stroke: $color-green;
					stroke-dashoffset: 162.6;
					stroke-dasharray: 0 162.6 28 (162.6 - 28);
					transition: all .4s ease .2s;
				}
				&:before {
					opacity: 0;
					transform: scale(.3) translate(-50%, -50%) rotate(45deg);
					animation: bounceInBeforeDont .3s linear forwards 0s;
				}
				&:after {
					opacity: 0;
					transform: scale(.3) translate(-50%, -50%) rotate(-45deg);
					animation: bounceInAfterDont .3s linear forwards 0s;
				}
			}
		}
	}

	@keyframes bounceInBefore {
			0% {
				opacity: 0;
				transform: scale(.3) translate(-50%, -50%) rotate(45deg);
			}
			50%{
				opacity: 0.9;
				transform: scale(1.1) translate(-50%, -50%) rotate(45deg);
			}
			80%{
				opacity: 1;
				transform: scale(.89) translate(-50%, -50%) rotate(45deg);
			}
			100%{
				opacity: 1;
				transform: scale(1) translate(-50%, -50%) rotate(45deg);
			}
	}

	@keyframes bounceInAfter {
			0% {
				opacity: 0;
				transform: scale(.3) translate(-50%, -50%) rotate(-45deg);
			}
			50%{
				opacity: 0.9;
				transform: scale(1.1) translate(-50%, -50%) rotate(-45deg);
			}
			80%{
				opacity: 1;
				transform: scale(.89) translate(-50%, -50%) rotate(-45deg);
			}
			100%{
				opacity: 1;
				transform: scale(1) translate(-50%, -50%) rotate(-45deg);
			}
	}

	@keyframes bounceInBeforeDont {
			0% {
				opacity: 1;
				transform: scale(1) translate(-50%, -50%) rotate(45deg);
			}
			100%{
				opacity: 0;
				transform: scale(.3) translate(-50%, -50%) rotate(45deg);
			}
	}

	@keyframes bounceInAfterDont {
			0% {
				opacity: 1;
				transform: scale(1) translate(-50%, -50%) rotate(-45deg);
			}
			100%{
				opacity: 0;
				transform: scale(.3) translate(-50%, -50%) rotate(-45deg);
			}
	}

	html {
		box-sizing: border-box;
		-webkit-font-smoothing: antialiased;
	}

	* {
			box-sizing: inherit;
			&:before,
			&:after {
				box-sizing: inherit;
			}
	}
}

.material-frm {
  width: 100%;
  .group-field {
    position: relative;
    // height: 72px;
		// padding: 16px 0 0;
		&:last-child {
			margin-bottom: 15px;
		}
		i {
			transform: translateY(47px);
			color: rgba(0,0,0,.3);
			font-size: 16px;
		}
		a.showPassword {
			outline: none;
			position: absolute;
			right: 0;
			z-index: 2;
		}
    .label-field {
			margin: 0;
      text-transform: capitalize;
      line-height: 16px;
      font-size: 15px;
      display: block;
			color: rgba(0,0,0,.3);
			font-family: $font1;
      font-weight: 500;
      transform: translateY(30px) translateX(30px);
      transition: transform .3s ease-in-out;
      transform-origin: left top;
    }
    .input-field {
			padding: 15px 0 15px 30px;
      height: 45px;
      width: 100%;
      border: none;
			font-family: $font1;
      font-size: 16px;
      line-height: 16px;
			color: $color-dark;
      display: block;
			outline: none;
		}
    &::before, &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: #ddd;
		}
    &::after {
      transform: scaleX(0);
      transform-origin: left;
      transition: transform .3s ease-in-out;
    }
	}

	input[type='submit'].btn {
		border-radius: 50px;
		border: none;
		box-shadow: 0 7px 18px -7px rgba(0, 0, 0, 0.7)
	}
  
  .group-select {
    position: relative;
    .select-text {
      position: relative;
    }
  }

  .in-text label.label-field {
    transform: translateY(5px) scale(.75);
  }
  
  .in-focused label.label-field {
    color: $color-dark;
  }
  
  .group-field.in-focused::after {
    transform: scaleX(1);
    background-color: $color-light-blue;
  }
}

.fd-subscribe-frm {
	padding: 35px 50px;
	width: 540px;
	margin: 0 auto;
	border-radius: 	5px;
	background-color: #fff;
	.fd-group-field {
		position: relative;
		height: 50px;
		margin-bottom: 50px;
		z-index: 2;
		label {
			font-family: $font1;
			font-weight: 600;
			display: block;
			margin-bottom: 9px;
			sup {
				color: red;
				font-size: 14px;
			}
		}
		input[type=text],
		input[type=email] {
			background: transparent;
			width: 100%;
			height: auto;
			font-size: 16px;
			color: $color-mid-dark;
			padding: 10px 0;
			border: none;
			outline: none;
			border-bottom: 1px solid #ddd;
		}
		input[type=submit] {
			position: absolute;
			top: 50%;
			right: 5px;
			padding: 10px 20px;
			min-width: 130px;
			font-size: 18px;
			border: none;
			cursor: pointer;
			display: inline-block;
			color: $color-light;
			background-color: $color-soundcloud;
			border-radius: 100px;
			transform: translateY(-50%);
		}
		&:after {
			position: absolute;
			content: '';
			top: -8px;
			left: -8px;
			width: 556px;
			height: 66px;
			border-radius: 100px;
			background-color: rgba(255,255,255,.18);
			z-index: -1;
		}
	}
	@include shortBreakpointMax(480) {
		padding: 20px 30px;
		width: 100%;
		input[type=text] {
			width: 100%;
		}
		&:after {
			width: calc(100% + 16px);
		}
	}
}

ul.radio-custom {
  list-style: none;
  margin: 0;
	padding: 0;
	@include clearit;
	li {
		position: relative;
		color: $color-mid-dark;
		display: block;
		float: left;
		width: 100%;
		input[type=radio] {
			position: absolute;
			visibility: hidden;
		}
		label {
			display: block;
			position: relative;
			font-family: $font1;
			font-weight: 300;
			font-size: 1.07em;
			// padding: 25px 25px 25px 80px;
			padding: 7px 7px 7px 65px;
			margin: 10px auto;
			// height: 30px;
			z-index: 9;
			cursor: pointer;
			transition: all 0.25s linear;
		}
		// &:hover label {
		// 	color: lighten($color-mid-dark, 10%);
		// }
		.check {
			display: block;
			position: absolute;
			border: 2px solid #C8CCD4;
			border-radius: 100%;
			height: 22px;
			width: 22px;
			top: 15px;
			left: 20px;
			z-index: 5;
			transition: border .25s linear;
			-webkit-transition: border .25s linear;
		}
		&:hover .check {
			// border: 2px solid lighten($color-mid-dark, 10%);
			border: 2px solid $color-tosqa;
		}
		.check::before {
			display: block;
			position: absolute;
			content: '';
			border-radius: 100%;
			height: 10px;
			width: 10px;
			top: 4px;
			left: 4px;
			margin: auto;
			transition: background 0.25s linear;
		}
		&:hover {
			border-radius: 5px;
			// background-color: lighten($color-mid-dark, 33%);
		}
	}
	
	input[type=radio]:checked ~ {
		.check {
			border: 2px solid $color-tosqa;
			&::before {
				background: $color-tosqa;
			}
		}
		label {
			color: $color-tosqa;
		}
	}
	
}

.check-wrapper {
	// margin: 0 auto;
	padding-left: 20px;
	max-width: 680px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	.check-custom {
		// flex: 1;
		padding: 15px 0;
		flex-basis: calc(100% / 3);
		label {
			user-select: none;
			cursor: pointer;
			margin-bottom: 0;
		}
		label input:checked + .checkbox {
			border-color: $color-tosqa;
		}
		label input:checked + .checkbox svg path {
			fill: $color-tosqa;
		}
		label input:checked + .checkbox svg polyline {
			stroke-dashoffset: 0;
		}
		label:hover .checkbox svg path {
			stroke-dashoffset: 0;
		}
		label .checkbox {
			position: relative;
			top: 2px;
			float: left;
			margin-right: 8px;
			width: 20px;
			height: 20px;
			border: 2px solid #C8CCD4;
			border-radius: 3px;
		}
		label .checkbox svg {
			position: absolute;
			top: -2px;
			left: -2px;
		}
		label .checkbox svg path {
			fill: none;
			stroke: $color-tosqa;
			stroke-width: 2;
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke-dasharray: 71px;
			stroke-dashoffset: 71px;
			transition: all 0.6s ease;
		}
		label .checkbox svg polyline {
			fill: none;
			stroke: #FFF;
			stroke-width: 2;
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke-dasharray: 18px;
			stroke-dashoffset: 18px;
			transition: all 0.3s ease;
		}
		label > span {
			font-family: $font1;
			line-height: 1.5;
			color: $color-mid-dark;
			font-size: 1.07em;
			pointer-events: none;
			vertical-align: middle;
		}
		
		input[type=checkbox] {
			position: absolute;
			z-index: 1;
			width: 0;
			height: 0;
			opacity: 0;
		}
	}
	@include shortBreakpointMax(480) {
		grid-template-columns: 1fr;
		max-width: auto;
		.check-custom {
			padding: 15px 0;
		}
	}
}

.textarea-custom {
	/* box-sizing: padding-box; */
	margin-left: 20px;
  overflow: hidden;
  padding: 10px;
	width: 550px;
	font-family: $font1;
	font-size: 16px;
  display: block;
  border-radius: 5px;
	// border: 3px solid #C8CCD4;
	border: 1px solid #C8CCD4;
	box-shadow: 0 3px 12px -3px rgba(0,0,0,.2);
	@include shortBreakpointMax(992) {
		margin-left: 0;
		width: 100%;
	}
	@include shortBreakpointMax(480) {
		margin-left: 0;
		width: 100%;
	}
}

.button-toolbar {
  margin: 10px 0;
  input[type="checkbox"],
  input[type="radio"] {
    display: none;
  }
  label {
		cursor: pointer;
    display: inline-block;
    background-color: transparent;
		// padding: 10px 20px;
		margin-bottom: 5px;
		width: 50px;
		height: 47px;
		text-align: center;
    font-family: $font2;
		font-size: 16px;
		font-weight: 500;
		line-height: 45px;
    border: 2px solid #C8CCD4;
    border-radius: 3px;
    &:hover {
      background-color: $color-tosqa;
			border-color: $color-tosqa;
			color: $color-light;
    }
  }
  input[type="checkbox"]:checked + label,
  input[type="radio"]:checked + label {
    background-color: $color-tosqa;
		// border-color: #4c4;
		border-color: $color-tosqa;
		color: $color-light;
  }
}