a.btn,
button.btn,
input[type='button'].btn,
input[type='submit'].btn {
	position: relative;
  display: inline-block;
	padding: 7px 15px;
	font-family: $font2;
	font-size: 15px;
	font-weight: 500;
	color: $color-light;
	letter-spacing: .15px;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	// background: #f2f2f2;
	// border: 2px solid $color-light;
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
	// border-radius: 50px;
	border-radius: 3px;
	vertical-align: middle;
	&.add {
		padding: 0;
		width: 40px;
		height: 40px;
		&:before, &:after {
			position: absolute;
			content: '';
			background-color: $color-light;
		}
		&:before {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 18px;
			height: 2px;
		}
		&:after {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 2px;
			height: 18px;
		}
	}
	&.btn-blue {
		background-color: $color-blue;
		&:hover {
			background-color: darken($color-blue, 10%);
		}
	}
	&.btn-purple {
		background-color: $color-purple;
		&:hover {
			background-color: darken($color-purple, 10%);
		}
	}
	&.btn-soundcloud {
		background-color: $color-soundcloud;
		&:hover {
			background-color: darken($color-soundcloud, 10%);
		}
	}
	&.btn-tosqa {
		transition: all .3s ease-in-out;
		background-color: $color-tosqa;
		&:hover {
			background-color: darken($color-tosqa, 10%);
		}
		&.arrowRight {
			span[class^="fas"] {
				@extend %iconMoveRight;
				@extend %iconPos;
			}
			&:hover {
				padding-right: 22px;
				span[class^="fas"] {
					opacity: 1;
					transform: translateX(5px);
				}
			}
		}
		&.arrowLeft {
			span[class^="fas"] {
				@extend %iconMoveLeft;
				@extend %iconPos;
			}
			&:hover {
				padding-left: 22px;
				span[class^="fas"] {
					opacity: 1;
					transform: translateX(-15px);
				}
			}
		}
	}
	&.btn-light-blue {
		background-color: $color-light-blue;
		&:hover {
			background-color: darken($color-light-blue, 10%);
		}
	}
	&.fd-line-orange {
		@extend .fd-line-orange;
		color: $color-orange;
	}
	&.fd-line-purple {
		@extend .fd-line-purple;
		color: $color-purple;
		&:hover {
			background-color: $color-purple;
			color: $color-light;
		}
	}
	&.fd-line-tosqa {
		@extend .fd-line-tosqa;
		color: $color-tosqa;
		&:hover {
			background-color: $color-tosqa;
			color: $color-light;
		}

	}
	&.fd-line-dark {
		@extend .fd-line-dark;
	}
}


%iconPos {
  position: absolute;
  line-height: 1.35;
}
  
%iconMoveRight {
  opacity: 0;
  transform-origin: left center;
  transform: translateX(0px);
  transition: all .3s ease-in-out;
}
%iconMoveLeft {
  opacity: 0;
  transform-origin: right center;
  transform: translateX(0px);
  transition: all .3s ease-in-out;
}