footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  font-size: 13px;
  text-align: center;
  font-family: $font2;
  letter-spacing: .15px;
  color: rgba($color-light, .7);
  background-color: $color-light;
  z-index: 10;
  .fd-wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    .fd-slot {
      p {
        margin-bottom: 0;
      }
    }
  }
}