// .fd-line-gradient {
//   width: 100%;
//   height: 5px;
//   @extend .fd-bg-purple;
// }
header.fd-header-pages {
  padding: 15px 0;
  box-shadow: 0 1px 12px -1px rgba(0,0,0,.2);
  z-index: 4;
  position: relative;
  background-color: $color-light;
  // @extend .fd-bg-purple;
  .fd-wrapper {
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      figure.brand {
        width: 175px;
        display: inline-block;
        img {
          width: 100%;
          display: block;
        }
      }
    }
    .center {
      display: inline-block;
      nav {
        ul {
          li {
            position: relative;
            margin: 0 10px;
            display: inline-block;
            height: 70px;
            a {
              font-family: $font2;
              font-size: 18px;
              text-decoration: none;
              line-height: 70px;
              color: $color-dark;
              &:hover {
                color: $color-purple;
              }
            }
            &.fd-current {
              &:after {
                position: absolute;
                bottom: 0px;
                content: '';
                width: 100%;
                height: 2px;
                background-color: $color-purple;
              }
            }
          }
        }
      }
    }
  
    .right {
      a.contact {
        text-decoration: none;
        color: $color-dark;
        img {
          display: inline-block;
          vertical-align: middle;
          width: 16px;
        }
        span {
          font-size: 16px;
        }
      }
      .humburgerBtn {
        width: 23px;
        display: none;
        img {
          width: 100%;
        }
      }
    }
  }
}

.subHeader {
  background-color: $color-tosqa;
  .fd-wrapper {
    padding: 10px 0;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    .fd-slot {
      p, span {
        color: $color-light;
      }
      p {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 0;
      }
      span {
        font-family: $font2;
        font-weight: 500;
        margin-right: 10px;
        display: inline-block;
        font-size: 16px;
      }
      .progress-bar {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 200px;
        height: 12px;
        overflow: hidden;
        border-radius: 100px;
        border: 1px solid $color-light;
        .progress-value {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 20%;
          height: 100%;
          transition: all .3s ease-in-out;
          background-color: #fff;
          // background: repeating-linear-gradient(
          //   -45deg,
          //   #ffffff,
          //   #ffffff 7px,
          //   $color-tosqa 7px,
          //   $color-tosqa 12px
          // );
        }
      }
    }
  }
  @include shortBreakpointMax(480) {
    .fd-wrapper {
      .fd-slot {
        &:last-child {
          width: 120px;
          span {
            margin-bottom: 5px;
            font-size: 13px;
          }
          .progress-bar {
            width: 100%;
          }
        }
      }
    }
  }
}