main {
  position: relative;
  article {
    section { 
      padding: 30px 0;
      &:last-child {
        padding: 0 0 30px;
      }
    }
    section.title {
      background-color: $color-light;
      .fd-wrapper {
        display: flex;
        justify-content: space-between;
        // align-items: center;
      }
      @include shortBreakpointMax(480) {
        .fd-wrapper {
          flex-direction: column;
          .fd-slot:not(:last-child) {
            margin-bottom: 25px;
          }
        }
      }
    }
    section.bodyQuestion {
      background-color: $color-mid-light;
      .panel-question {
        padding-bottom: 50px;
        margin-bottom: 45px;
        border-bottom: 1px solid #ddd;
        .block-question {
          p {
            font-size: 1.15em;
            font-weight: 500;
            font-family: $font1;
          }
        }
      }
    }
    section.navigation {
      .fd-wrapper {
        width: 100%;
        display: inline-block;
        .fd-slot {
          &:first-child {
            float: left;
          }
          &:last-child {
            float: right;
          }
        }
      }
    }
  }
}